  /*login page ko border style*/
  @media(min-width:1100px){
  #in-border{
    margin-top:6em;
    padding: 20px 40px; 
    background: #dddddd;
    width: 400px;
    height:22em;
    border-radius: 40px 18px;
    background-color: hsla(180, 20%, 80%, 0.3);
    box-shadow: 1px 1px 5px black;
  }
}

a{
  color:#323232;
}

a:hover{
  color:#4b4b4b;
  text-decoration:none;
}
/*login page ko p*/
  #p1{
    margin-top:1em;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size:2em;
  }
/*index page ko login button*/
  .button1{
   display: block; 
   width: 100%;
   margin-bottom:2em;
  }
/*footer.php ko style*/
.footer{
  position:relative;
  left:0;
  bottom:0;
  width:100%;
  height:5em;
  background-color: hsla(200, 20%, 96%, 1);
}
/*fotter ko p-style*/
#footer-h2{
  font-size:1em;
  margin-top: 15px;
  text-align: center;
   font-family: "Arial Black", Gadget, sans-serif;
}
/* function action button ko style */
.inset{
  margin-top:6em;
}
/* function action button ko style */
.inset:hover{
  color:#eee;
  text-shadow:0 0 1px #666;
  text-decoration:none;
  box-shadow:0 0 4px #222 inset;
  opacity:0.9
  }
/*ul ko no border*/
.no-bullet {
   list-style:none;
}
/*header style*/
.navbar-default{
    background-color: hsla(200, 30%, 90%, 0.3);
}

.navbar-brand img{
  margin-top: -0.7em;
}

#navbar-logo{
  width:25em;
}
#image_h1{
  text-align: center;
}
.no-bullet{
  margin: 0px auto;
}

/*#php_content{
  margin-top:-0.4em;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size:2em;
  text-align: center;
}*/

.form-1{
  height:20em;
}

.mero-nav{
  border-bottom: 1px solid white;
  box-shadow: 1px 3px 20px grey;
}
/*registration , add haru ko form ko background style lai*/
.form-background{
  margin-top:5em;
  border-radius: 1em;
  width:99%;
  background-color: white;
  margin-bottom:5em;
}
/*to keep those forms in center*/
#image-distance{
  top-margin:-5em;
}

#myModal{
  width:100%
}

 #content{
  border-radius: 2px solid red;
}

#back{
  margin-top:3em;
  margin-left:2em;
  background-color: hsla(180, 20%, 80%, 0.5) !important;
  width:60%;
}
#jomboH{
  font-size:2em;
  font-family: "Arial Black", Gadget, sans-serif;
  color:white ;
}
#jomboP{
  font-family:"Arial", Gadget, sans-serif;
  color:#383838;
}
#logo{
  margin-top:-0.2em;
  font-size:2em;
  color:white;
   font-family: "Arial Black", Gadget, sans-serif;
}
.del{
  margin-top:-3.5em;
}
.scroll-up{
  position: fixed;
  margin-left:90%;
  margin-bottom: 5em;

}